.App {
  text-align: center;
  background-color: LightGray;
}


.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.nav-bar a {
  font-weight: bold !important;

}
/* 
.nav-bar {
  padding: 14px 16px;
  border: 5px;
  border-color: aqua !important;
  background-color: red;
} */

.container {
  padding: 40px;
  margin: 40px;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 40px;
  background-color: LightGray;
}

.nav-bar a:hover {

  color: #0084ca !important;

}

.ui .card.card {
  width: 100%;
}

.sidebar {
  padding: 20px;
  margin: 20px;
}

.stories {
  color: #777C7F;
}

.top {
  display: block;
  position: sticky;
  position: -webkit-sticky;
  background-color: white;
  top: 0px;
  
  z-index: 99;
}
.main{
  display:grid;
}

@media screen and (max-width: 800px) {
 .main{
   width: 100%
 }
  .side {
      display: none;
      background-color: #0084ca;
  }
  .container{  
    display: grid;
    grid-template-columns: 1fr;
    width:100%
  }

  .maincontent{
    width:100%;

  }
  .middle{
    max-width: 100%;
  }
  .top{
    position:sticky;
    width: 100%;

  }
  .content{
    width: 100%;
  }
  
  
}
.footer{
  text-align: center;
}